@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.gradient-bg {
  background-image: radial-gradient(
    circle at center left,
    rgb(193, 2, 6) 0%,
    rgb(193, 2, 6) 6%,
    rgb(167, 6, 11) 6%,
    rgb(167, 6, 11) 27%,
    rgb(140, 10, 16) 27%,
    rgb(140, 10, 16) 42%,
    rgb(113, 14, 21) 42%,
    rgb(113, 14, 21) 63%,
    rgb(86, 18, 26) 63%,
    rgb(86, 18, 26) 64%,
    rgb(59, 22, 31) 64%,
    rgb(59, 22, 31) 71%,
    rgb(33, 29, 33) 71%,
    rgb(33, 29, 33) 100%
  );
}
